<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BasketBall Linear Regression</title>

</head>
<H1>Predicting Average points scored by player in a game</H1>
<form action = {{formURL}} method = "post">
         <p>Enter height in feet:</p>
         <p><input type = "number" name = "height" step="any" required /></p>
        <p>Enter weight in pounds:</p>
         <p><input type = "number" name = "weight" step="any" required/></p>
        <p>Enter percent of successful field goals (0-1) :</p>
         <p><input type = "number" name = "fieldGoals" step="any" required/></p>
        <p>Enter percent of percent of successful free throws (0-1) :</p>
         <p><input type = "number" name = "freeThrows" step="any" required/></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
<body>

</body>
</html>